.p1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
     max-width: 80%;
    margin: auto;
    div {
        display: flex;
        gap: 30px;
        color: gray;
    }
}
.p2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80%;
    margin: auto;
    .p3 {
        padding: 15px;
background: linear-gradient(311.76deg, #D4E7FE -15.24%, #FFFFFF 78.85%);
        color: blue;
        display: inline;
    }
    .p4 {
        padding: 20px;
        border-radius: 15px;
        background: #217BF4;
         color: white;
         border: none;
    }
    .p5 {
        padding: 20px;
        border-radius: 15px;
        border: 2px solid #217BF4;
    }
    h1 {
        font-size: 40px;
    }

}
.p6 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;
    max-width: 80%;
    margin: auto;
    h4 {
        color: #217BF4;
    }
    h1 {
        font-size: 40px;
    }
    .p7 {
        display: flex;
        gap: 20px;
    }
   
}
.p8 {
    display: flex;
    padding-top:  100px;
    gap: 40px;
    align-items: center;
    max-width: 80%;
    margin: auto;
    div {
        padding: 10px;
        box-shadow: 5px 5px 5px gray;
    }
       .p4 {
        padding: 20px;
        border-radius: 15px;
        background: #217BF4;
         color: white;
         border: none;
    }
    h3 {
        color: #217BF4;
    }
    h5 {
        color: #217BF4;
    }
   
    h1 {
        color: #0A093D;
    }
}
.p10 {
      
     
    padding-top:  100px;
   
    max-width: 80%;
    margin: auto;  
    .p11 {
        text-align: center;
        h4 {
            color: #217BF4;
        }
    }
    .p9 {
        display: flex;
        justify-content: center;
        gap: 50px;
        align-items: center;
        .p12 {
            display: flex;
            margin-top: 30px;
            align-items: center;
            gap: 20px;
            padding: 20px;
                    box-shadow: 5px 5px 5px gray;

        }
    }
}


